@import './prism.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


*::selection {
  background-color: #37a9a55c;
  color: white;
}

@media (min-width: 640px) and (max-width: 950px) {
  .hide-in-range {
    display: none !important;
  }


}

