@import './prism.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */ 
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

*::selection {
  background-color: #37a9a55c;
  color: white;
}

/* Start Video in Hero Section */
.vjs-tech,
.vjs-big-play-centered,
.vjs-control-bar {
  border-radius: 10px;
}

.vjs-big-play-button {
  z-index: 3;
}

/* End Video in Hero Section */

@media (min-width: 640px) and (max-width: 950px) {
  .hide-in-range {
    display: none !important;
  }
}

/* @keyframes mask-window {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-42px);
  }
  40% {
    transform: translateY(-84px);
  }
  60% {
    transform: translateY(-126px);
  }
  80% {
    transform: translateY(-168px);
  }
  100% {
    transform: translateY(-210px);
  }
} */

.firstComponent,
.rowOneFirstComponent,
.rowTwoFirstComponent {
  /* position: relative; */
  z-index: 10;
  /* animation-name: mask-window;
  animation-timeline: scroll();
  animation-duration: 5s; */
}